body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('image/IMG-pop.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.card {
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
    color: #ff6f61;
}

p {
    color: #333;
}
.container .button{
        width: 100%;
        height: 45px;
        background: #fff;
        border: none;
        outline: none ;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
    
}
